@{
    ViewBag.Title = "About";
}
<center>
    <h2>Hello!</h2>
    <div>
        <p>This is our project (Group_1)</p>
        <p>We are:</p>
        <table>
            <b>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Description</td>
            </tr>

            <tr>
                <td>195050876__</td>
                <td>Chu Thị Mai Hương</td>
            </tr>
            <tr>

                <td>195050615</td>
                <td>Trần Minh Tiến</td>
            </tr>
            <tr>
                <td>195050989</td>
                <td>Nguyễn Văn Lâm</td>
            </tr>
            <tr>
                <td>195050998</td>
                <td>Lâm Thái Hòa</td>
            </tr>
            <tr>
                <td>195050993</td>
                <td>Trần Quang Huy</td>
            </tr>
            </b>

        </table><br />
        <b> <p>WELCOME TO OUR PROJECT</p></b>
    </div>
</center>
<h3>@ViewBag.Message</h3>
<p>Use this area to provide additional information.</p>
